#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

%:
	dh $@

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR=$(CURDIR)/debian/phpreports

clean:
	dh_testdir
	dh_testroot
	dh_clean

build: $(QUILT_STAMPFN)
	dh_testdir
	dh_auto_test

build-arch: 
	build

build-indep: 
	build

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	cp -a PHP* database output php xslt $(DESTDIR)/usr/share/php/phpreports/
	find $(DESTDIR)/usr/share/php -type f | xargs chmod a-x

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs Changelog
	dh_link
	dh_compress
	dh_fixperms
	find $(DESTDIR) -name .arch-ids | xargs rm -rf
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
